/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
  padding: 10px;
}

h1 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 30px;
  line-height: 1.2;
}

h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  margin: 40px 5px 5px 5px; 
  padding: 20px 5px;

}

h3 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.LittleText {
  font-size: 18px;
  font-weight: 300;
}

.fold-image {
  border-top: 3px solid lightgrey;
}

footer {
  background-color: black;
  text-align: left;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  line-height: 1.2;
  color: white;
  padding: 30px 25px;
}

a {
  color: inherit;
  margin: 13px;
  font-family: 'Libre Franklin', sans-serif;
}

p {
  margin: 4px;
}

figure {
  background-color: white;
  border: 1px solid grey;
  padding: 0px 0px 10px 0px;
  margin: 20px;
  text-align: center;
  border: 3px solid lightgrey; 
}

/* Cible l'image à l'intérieur de la figure */
figure img {
  max-width: 100%;
  height: auto;
}

/* Cible le <figcaption> à l'intérieur de la figure */
figure figcaption {
  font-size: 20px;
  font-family:'Libre Franklin', sans-serif;
  margin: 20px 100px;
  font-weight: 550;
}

.Name {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 25px;
}

.secondPartie {
  background-color: #ebede8;
}

.redTitle {
  background-color: red;
  border-radius: 25px;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 160px;
  padding: 2px;
}
/* ====================================
// base rules
// ==================================== */